* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-image: url(https://images.unsplash.com/photo-1453090927415-5f45085b65c0?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTV8fG11c2ljJTIwd2FsbHBhcGVyfGVufDB8fDB8&ixlib=rb-1.2.1&w=1000&q=80);
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	background-position: center center;
	background-attachment: fixed;
	font-family: 'Nunito', sans-serif;
	
}
/*register page*/
.section {
	background-color: rgb(0,0,0, 0.4);
	border-radius : 15px;
	height: 680px;
	width: 700px;
	margin-top: 150px;
	
}
h2 {
	color: white;
	letter-spacing: 3px;
	padding-top: 40px;
	padding-bottom: 30px;
	text-align: center;
}
label {
	color: white;
	font-size: 20px;
}
.input,.input1 {
	background-color: transparent;
	border: 2.5px #fff solid;
	outline: none;
	border-radius: 5px;
}
.textbox {
	padding-bottom: 25px;
}
.input1 {
	width: 254.5px;
	height: 35px;
}
input {
	height: 35px;
	color: white;
}
.input2 {
	background-color: transparent;
	border: 3px #fff solid;
	outline: none;
	width: 100px;
	height: 35px;
	border-radius: 50px;
}
.in1 {
	width: 400px;
}
.in2 {
	width: 400px;
}
.in3 {
	width: 400px;
}
.in4 {
	width: 400px;
}
.submit {
	text-align: center;
	padding-top: 10px;
}
.submit input {
	color: white;
	letter-spacing: 0.6px;
}
.input2:hover {
	background-color: rgb(255, 255, 255, 0.8);
	color: black;
	width: 150px;
	transition-duration: 0.5s;
	transition-timing-function: ease-in-out;
}
